{% extends "common/templates/layout.njk" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
       {{ govukButton({
            text: "Start",
            href: "/engagement",
            classes: "govuk-button"
        }) }}
    </h1>
  </div>
</div>
{% endblock %}
