{% extends "common/templates/layout.njk" %}

{% block pageTitle %}
    {{serviceName}} - Record contact with a stakeholder
{% endblock %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
            text: "Home",
            href: "/"
            },
            {
            text: "Record contact with a stakeholder",
            href: "#"
            },
            {
            text: "Engagement details"
            }
        ]
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Record contact with a stakeholder</span>
                Engagement details
            </h1>
            <form action="engagement/next-steps" method="get" class="form">
                {% call govukFieldset({
                    }) %}
                    
                    {{ govukInput({
                        id: "stakeholder-full-name",
                        name: "stakeholder-full-name",
                        value: data['stakeholder-full-name'],
                        label: {
                            text: "Stakeholder's Full name"
                        },
                        hint: {
                            text: "If you want to anonymise this entry describe the stakeholder using job title, industry, and location. Eg CEO of a housing association in the North East"
                        },
                        classes: "govuk-!-width-three-quarters"
                    }) }}

                    {{ govukCheckboxes({
                        idPrefix: "stakeholder-anonymous",
                        name: "stakeholder-anonymous",
                        items: [
                            {
                                value: "yes",
                                text: "Anonymous",
                                hint: {
                                    text: "this entry will only record the title, industry, and location"
                                }
                            }
                        ]
                    }) }}

                    {{ govukDateInput({
                        id: "stakeholder-date-contact",
                        namePrefix: "stakeholder-date-contact",
                        fieldset: {
                            legend: {
                            text: "Date of contact",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--m"
                            }
                        },
                        hint: {
                            text: "For example, 31 1 2019"
                        },
                        items: [
                            {
                            name: "day",
                            classes: "govuk-input--width-2",
                            value: data['stakeholder-date-contact-day']
                            },
                            {
                            name: "month",
                            classes: "govuk-input--width-2",
                            value: data['stakeholder-date-contact-month']
                            },
                            {
                            name: "year",
                            classes: "govuk-input--width-4",
                            value: data['stakeholder-date-contact-year']
                            }
                        ]
                    }) }}

                    {{ govukRadios({
                        classes: "govuk-radios--inline",
                        idPrefix: "stakeholder-successful-contact",
                        name: "stakeholder-successful-contact",
                        value: data['stakeholder-successful-contact'],
                        fieldset: {
                            legend: {
                            text: "Did you make contact?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--m"
                            }
                        },
                        items: [
                            {
                                value: "yes",
                                text: "Yes"
                            },
                            {
                                value: "no",
                                text: "No",
                                hint: {
                                    text: "I tried to contact this stakeholder but had no response"
                                }
                            }
                        ]
                    }) }}

                {% endcall %}

                {{ govukButton({
                    text: "Save and continue",
                    classes: "govuk-button"
                }) }}
            </form>
        </div>

       <div class="govuk-grid-column-one-third">
           <aside class="app-related-items" role="complementary">
                <dl class="mhclg-summary-list">
                    <dt>Last edited by</dt>
                    <dd><a href="#">Sarah Walton</a> on 6 August 2018 at 13:06 GMT</dd>
                </dl>
            </aside>
        </div>
    </div>

{% endblock %}
