{% extends "common/templates/layout.njk" %}

{% block pageTitle %}
    {{serviceName}} - Record contact with a stakeholder
{% endblock %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
            text: "Home",
            href: "/"
            },
            {
            text: "Record contact with a stakeholder",
            href: "#"
            },
            {
            text: "Engagement details"
            }
        ]
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Record contact with a stakeholder</span>
                Engagement details
            </h1>
            <form action="engagement/summary" method="post" class="form">
                {% call govukFieldset({
                    }) %}
                    
                    {{ govukInput({
                        id: "full_name",
                        name: "full_name",
                        label: {
                            text: "Stakeholder's Full name"
                        },
                        hint: {
                            text: "If you want to anonymise this entry describe the stakeholder using job title, industry, and location. Eg CEO of a housing association in the North East"
                        },
                        classes: "govuk-!-width-three-quarters"
                    }) }}

                    {{ govukCheckboxes({
                        idPrefix: "anonymous",
                        name: "anonymous",
                        items: [
                            {
                                value: "yes",
                                text: "Anonymous",
                                hint: {
                                    text: "this entry will only record the title, industry, and location"
                                }
                            }
                        ]
                    }) }}

                    {{ govukDateInput({
                        id: "date_contact",
                        namePrefix: "date_contact",
                        fieldset: {
                            legend: {
                            text: "Date of contact",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--m"
                            }
                        },
                        hint: {
                            text: "For example, 31 1 2019"
                        },
                        items: [
                            {
                            name: "day",
                            classes: "govuk-input--width-2"
                            },
                            {
                            name: "month",
                            classes: "govuk-input--width-2"
                            },
                            {
                            name: "year",
                            classes: "govuk-input--width-4"
                            }
                        ]
                    }) }}

                    {{ govukRadios({
                        classes: "govuk-radios--inline",
                        idPrefix: "successful_contact",
                        name: "successful_contact",
                        fieldset: {
                            legend: {
                            text: "Did you make contact?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--m"
                            }
                        },
                        items: [
                            {
                                value: "yes",
                                text: "Yes",
                                checked : true
                            },
                            {
                                value: "no",
                                text: "No",
                                hint: {
                                    text: "I tried to contact this stakeholder but had no response"
                                }
                            }
                        ]
                    }) }}

                {% endcall %}

                {{ govukButton({
                    text: "Save and continue",
                    classes: "govuk-button"
                }) }}
            </form>
        </div>
    </div>

{% endblock %}
