
{% extends "common/templates/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">Dashboard</span>
      </h1>
    </div>
  </div>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="search" method="post" class="form">
          {% call govukFieldset({
              }) %}
              <label class="govuk-label govuk-!-width-three-quarters" for="three-quarters">Search</label>
              <span id="name-hint" class="govuk-hint">eg Organisation, Name, Region or Job title</span>
              <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="three-quarters" type="text">
              {{ govukButton({
                  text: "Search",
                  classes: "govuk-button"
              }) }}
          {% endcall %}
      </form>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m mhclg-border-top govuk-!-padding-top-5">Policy Area</h3>
      
    </div>
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m mhclg-border-top govuk-!-padding-top-5">Regions</h3>
       <ul class="govuk-list govuk-body-s">
       {% set regions = data[0].data %}
        {% for region in regions %}
            <li>
              <a class="govuk-link" href="/region/{{ region.slug }}">{{ region.name }}</a>
            </li>
          {% endfor %}
        </ul>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
       
        {{ govukButton({
              text: "Record a new engagement",
              classes: "govuk-button",
              href: "engagement"
          }) }}
    </div>
  </div>

{% endblock %}
